@import "neat";

body{
	background-color:$bg-color;
}

img{max-width:100%;}

*{
	box-sizing:border-box;
}

.wrap{
	max-width:1600px;
	margin: 0 auto;
}

.grid{
	@include grid-column(12);
	padding-top: 1.5em;
	@media screen and (min-width:$tablet){
		@include grid-column(8);
		padding-top:0;
	}
	@media screen and (min-width:$pc){
		@include grid-column(8);
	}
}

.sidebar{
	@include grid-column(12);
	margin-top:1.5em;
	@media screen and (min-width:$tablet){
		@include grid-column(4);
		padding-top:0;
	}
	@media screen and (min-width:$pc){
		@include grid-column(4);
	}
}